
@{
    ViewData["Title"] = "AddProjet";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}

<h2>Ajouter un projet</h2>

<script src="~/js/site.js"></script>

<div class="card-body">
    <table class="table table-bordered table-hover" id="dataTable" width="100%" cellspacing="0">
        <thead>
            <tr>
                <th>Dépense</th>
                <th>Montant</th>
                <th></th>
            </tr>
        </thead>
        <tfoot>
            <tr class="table-row">
                <form>
                    <th><input type="text" id="depense" ></th>
                    <th><input type="text" id='prix' ></th>
                    <th><input type="button" class="add-row btn btn-secondary" value="Confirmer"></th>
                </form>
            </tr>
            <tr>
                <th>Total</th>
                <th><span id="total"></span></th>
            </tr>
        </tfoot>
        <tbody>
        </tbody>
    </table>
</div>


