
@{
    ViewData["Title"] = "AddProjet";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}

<h2>Ajouter un projet</h2>

<script src="~/js/site.js"></script>
<form asp-action="Addprojet" method="post">
    <div class="row">
        <div class="col-lg-2">Nom du Projet:</div><div class="col-lg-4"><input id="txtNomProjet" name="ProjectName" required /></div>
        @{ Html.RenderPartial("Partiel/ChooseProjectManager", ViewData["Users"]); }

        </div>
    <br>
    <div class="row">
        <div class="col-lg-2">Date de début</div><input type="date" id="dtDateDebut" name="project_debut" required/>
        <div class="col-lg-2">Échéance:</div> <input type="date" id="dtDateFin" name="project-fin" required/>
    </div>
    <div class="card-body">

        <table class="table table-bordered table-hover" id="dataTable" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th>Dépense</th>
                    <th>Montant</th>
                    <th> <hidden></hidden></th>
                </tr>
            </thead>
            <tfoot>
                <tr class="table-row">

                    <th><input type="text" id="depense"></th>
                    <th><input type="text" id='prix'></th>
                    <th><input type="color" id="color" /></th>
                    <th><input type="button" class="add-row btn btn-secondary" value="Confirmer"></th>

                </tr>
                <tr>
                    <th>Total avant marge</th>
                    <th><span id="total"></span></th>
                </tr>
                <tr>
                    <th>Marge</th>
                    <th><input type="number" id="margeprice"></th>
                </tr>
                <tr>
                    <th>Total</th>
                    <th><span id="totalmarge"></span></th>
                </tr>
            </tfoot>
            <tbody>
            </tbody>
        </table>

        <button class="btn btn-success" type="submit" id="btnAjouterProjet">Terminer</button>
    </div>

</form>
