
@{
    ViewData["Title"] = "ChangePasswordAdmin";
   Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
   var id = ViewData["Id"];
}

<h2>Changer le mot de passe de </h2>
<form method="post" action="ChangerMdPAdmin">
    <table class="table" id="tablePWChange">
        <thead>
        </thead>
        <tbody>


            <tr class="row">
                <td>
                    <input hidden="hidden" name="id" value="@ViewData["Id"]" />
                <td class="col-md-3">
                    <label>Entrer un nouveau mot de passe</label>
                </td>
                <td class="col-md-4">
                    <input name="NewPassword" type="password" required />
                </td>


            </tr>
            <tr class="row">
                <td class="col-md-3">
                    <label>Confirmer nouveau mot de passe</label>
                </td>
                <td class="col-md-4">
                    <input name="ConfirmPassword" type="password" required />
                </td>
                
            </tr>

        </tbody>
    </table>
    <button type="submit" class="btn btn-primary">Changer le mot de passe</button>
</form>