
@{
    ViewData["Title"] = "Projection";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}
@model List<FollowInfo>;
    
    <div class="card shadow mb-4">
        <div class="card-header py-2">
            <h6 class="m-0 font-weight-bold text-primary">Soumission</h6>
        </div>
        <div class="card-body py-2">
            <div class="table-responsive" style="height:auto">
                <form method="post">
                    <table class="table table-hover table-sm border shadow" id="dataTable" width="100%" cellspacing="0">
                        <thead class="card-header text-primary text-center">
                            <tr>
                                <th>Catégorie</th>
                                <th>Montants des dépenses</th>
                            </tr>
                        </thead>

                        <tbody style="font-size:small" class="text-center">


                            @foreach (var item in Model)
                            {
                                <tr class="table-row">
                                    <td>
                                        <input hidden="hidden" id="Spending" name="Spending" value="@item.Spending" />
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Spending)
                                    </td>
                                    <td>
                                        <input id="Amount" name="Montant" />
                                    </td>
                                </tr>
                            }
                        </tbody>

                    </table>
                    <input hidden="hidden" name="id" value="@ViewData["id"]" />
                    <button class="btn btn btn-success" formmethod="post" asp-action="AddProjection" asp-controller="Admin">Ajouter la Projection</button>
                </form>
            </div>
        </div>
    </div>

