
@{
    ViewData["Title"] = "Projet";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";

}

<!-- Info rapids -->
<div class="row">
	<!-- carte de Complétion -->
	<div class="col-xl-3 col-md-6 mb-4">
		<div class="card border-left-info shadow h-100 py-2">
			<div class="card-body">
				<div class="row no-gutters align-items-center">
					<div class="col mr-2">
						<div class="text-xs font-weight-bold text-info text-uppercase mb-1">Complétion</div>
						<div class="row no-gutters align-items-center">
							<div class="col-auto">
								<div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">50%</div>
							</div>
							<div class="col">
								<div class="progress progress-sm mr-2">
									<div class="progress-bar bg-info" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-auto">
						<i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- carte de Marge de profit Projectée -->
	<div class="col-xl-3 col-md-6 mb-4">
		<div class="card border-left-success shadow h-100 py-2">
			<div class="card-body">
				<div class="row no-gutters align-items-center">
					<div class="col mr-2">
						<div class="text-xs font-weight-bold text-success text-uppercase mb-1">Marge de profit Projectée</div>
						<div class="h5 mb-0 font-weight-bold text-gray-800">$ 28,299.81</div>
					</div>
					<div class="col-auto">
						<i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- carte de profit soumit -->
	<div class="col-xl-3 col-md-6 mb-4">
		<div class="card border-left-primary shadow h-100 py-2">
			<div class="card-body">
				<div class="row no-gutters align-items-center">
					<div class="col mr-2">
						<div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Marge de profit Soumit</div>
						<div class="h5 mb-0 font-weight-bold text-gray-800">$ 18,500</div>
					</div>
					<div class="col-auto">
						<i class="fas fa-file-invoice-dollar fa-2x text-gray-300"></i>
					</div>
				</div>
			</div>
		</div>
	</div>



	<!-- carte de notifications liées au projet -->
	<div class="col-xl-3 col-md-6 mb-4">
		<div class="card border-left-warning shadow h-100 py-2">
			<div class="card-body">
				<div class="row no-gutters align-items-center">
					<div class="col mr-3 ">
						<div class="h6 font-weight-bold text-warning text-uppercase mb-1">Ajouter une projection</div>
					</div>
					<div class="col-auto">
                        <form>
                            .                            <input hidden="hidden" value="@ViewData["id"]" name="id" />
                            <button type="button" class="fas fa-folder-plus fa-2x text-gray-300" data-toggle="modal" data-target="#modalEstimates" >
                            </button>
                            
                        </form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- fin de infos rapids -->
<!--******************************************************************************************************-->


<div class="row">
    <!--******************************************************************************************************-->
    <!--Table de la soumission -->
    <!--******************************************************************************************************-->
    @{
        Html.RenderPartial("Partiel/_partielSoumission");
    }

    <!--******************************************************************************************************-->
    <!--Table de la projection -->
    <!--******************************************************************************************************-->
    @{
        Html.RenderPartial("Partiel/_partielprojection", ViewData["Projection"]);
    }
</div><!--fin de la rangé du milieu-->

<div class="row">
	<!--******************************************************************************************************-->
	<!--Graphique a bandes-->
	<!--******************************************************************************************************-->
	<div class="col-xl-6">
		<!--table des projets-->
		<div>

			<div class="card shadow mb-4">
				<div class="card-header p-2 ">
					<h6 class="m-0 font-weight-bold text-primary">Soumission vs Projection</h6>
				</div>
				<div class="card-body py-2">
					<div class="chart-bar" style="height:300px">
						<canvas id="myBarChart"></canvas>
					</div>
				</div>

			</div>

		</div>

		<!--************************fin de graphique a bandes**************************************************-->
	</div>

	<!--******************************************************************************************************-->
	<!--Tableau de bord-->
	<!--******************************************************************************************************-->
	<div class="col-xl-6">
		<div>

			<div class="card shadow mb-4">
				<div class="card-header p-2 ">
					<h6 class="m-0 font-weight-bold text-primary">Tendance</h6>
				</div>
				<div class="card-body py-2">
                    <div class="chart-area" style="height:300px">
                        <canvas id="myAreaChart"></canvas>
                    </div>
				</div>

			</div>

		</div>

		<!--************************fin de graphique a bandes**************************************************-->
	</div>
</div>


<div class="modal" id="modalEstimates">
    @{
        Html.RenderPartial("Partiel/Projection", ViewData["Projection"]);
    }
</div>

<script>
                var test = @ViewData["Test"];
</script>
