@model List<Solutios.Models.FollowInfo>
<form>
	<table class="table" id="tableSubExpenses">
		<thead>
			<tr>
				<th>
					Dépense 
				</th>
				<th>
					Coût 
				</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model)
				{
			<tr id="tablerow0">
				<td>
					<input class="form-control" name="subName + 0" type="text" value="@Html.DisplayFor(modelItem => item.Spending)" />
				</td>
				<td>
					<input  class="form-control" name="subCost" type="number" value="@Html.DisplayFor(modelItem => item.amount)" />
				</td>
				
			</tr>

			 } 
		</tbody>
	</table>
	<p>
        
		<button class="btn btn-primary text-white" style="width:100%" id="add" value="Ajouter">Ajouter</button>
	</p>
</form>

