@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Solutios.Models.Users

@using (Html.BeginForm())
{
    <div class="modal-body">
        <div class="container">





            <div class="col-lg-12 border-0 shadow-lg my-5" style="background-color: white">
                <div class="p-5">
                    <div class="text-center">
                        <h1 class="h4 text-gray-900 mb-4">Ajouter un nouvel usager</h1>
                    </div>
                    <form class="user" asp-controller="Admin" asp-action="AddUser">
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="inputSurname">Prénom</label>
                                <input asp-for="UserFirstName" type="text" class="form-control form-control-user" id="inputSurname" placeholder="Prénom" required>

                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputName">Nom</label>
                                <input asp-for="UserName" type="text" class="form-control" id="inputName" placeholder="Nom" required>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="inputEmail4">Courriel</label>
                                <input asp-for="UserEmail" type="email" class="form-control" id="inputEmail4" placeholder="Courriel&#64;mail.com" required>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputPassword4">Mot de Passe</label>
                                <input asp-for="UserMdp" type="password" class="form-control" id="inputPassword4" placeholder="Mot de passe" required>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="inputPhone">Numéro de téléphone</label>
                                <input asp-for="UserPhone" type="tel" class="form-control" id="inputPhone" placeholder="# de téléphone" required>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="inputRole">Rôle</label>
                                <select asp-for="UserRole" id="inputRole" class="form-control" required>
                                    <option selected value="">Choisissez...</option>
                                    <option value="ADMIN">Admin</option>
                                    <option value="MANAGER">Gestionnaire de projet</option>
                                   
                                    
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputAddress">Addresse</label>
                            <input asp-for="UserAddress" type="text" class="form-control" id="inputAddress" placeholder="1234 Rue Untel">
                        </div>
                        <div class="form-group">
                            <label for="inputAddress2">Addresse 2</label>
                            <input asp-for="UserAddress2" type="text" class="form-control" id="inputAddress2" placeholder="Appartement, studio ou étage">
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="inputCity">Ville</label>
                                <input asp-for="UserCity" type="text" class="form-control" id="inputCity">
                            </div>
                            <div class="form-group col-md-4">
                                <label for="inputState">Province</label>
                                <select asp-for="UserProvince" id="inputState" class="form-control">
                                    <option selected>Choisissez...</option>
                                    <option value="Québec">Québec</option>
                                    <option value="Ontario">Ontario</option>
                                    <option value="Colombie-Britannique">Colombie-Britannique</option>
                                    <option value="Nouveau-Brunswick">Nouveau-Brunswick</option>
                                    <option value="Manitoba">Manitoba</option>
                                    <option value="Alberta">Alberta</option>
                                    <option value="Terre-Neuve et Labrador">Terre-Neuve et Labrador</option>
                                    <option value="Nouvelle-Écosse">Nouvelle-Écosse</option>
                                    <option value="Territoires du Nord-Ouest">Territoires du Nord-Ouest</option>
                                    <option value="Saskatchewan">Saskatchewan</option>
                                    <option value="Yukon">Yukon</option>
                                    <option value="Île du Prince Edouard">Île du Prince-Édouard</option>
                                    <option value="Nunavut">Nunavut</option>
                                </select>
                            </div>
                            <div class="form-group col-md-2">
                                <label for="inputZip">Code Postal</label>
                                <input asp-for="UserZipcode" type="text" class="form-control" id="inputZip" placeholder="Ex: A1A 1A1">
                            </div>
                        </div>

                        <button type="submit" asp-controller="Admin" asp-action="AddUsers" class="btn btn-primary">Créer l'usager</button> <button class="btn btn-danger" id="ModalPWClose" data-dismiss="modal" data-target="#ForgotPWModal">Fermer</button>
                    </form>



                </div>
            </div>

        </div>

    </div>
    
    }