
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}


<!-- Card Body -->
<div class="card-body">
    <div class="chart-area">

        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Projet Courrant</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Projet</th>
                                <th>Échéance</th>
                                <th>Jour</th>
                                <th>Description</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr onclick="location.href='@Url.Action("Projet", "User", new { id = "Tiger"})'">
                                <td>Tiger</td>
                                <td>10/10/2020</td>
                                <td>0/365</td>
                                <td>Électrification du monde</td>
                            </tr>
                            <tr>
                                <td>Garrett</td>
                                <td>10/10/2020</td>
                                <td>365/600</td>
                                <td>Pose de lampadaire</td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>

        </div>


    </div>
</div>
