<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Solutios - Entrepreneur</title>

    <link rel="icon" href="http://example.com/favicon.png">
    <!-- Custom fonts for this theme -->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Theme CSS -->
    <link href="~/css/freelancer.min.css" rel="stylesheet">

</head>

<body id="page-top">


    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="#page-top">Solutios</a>
            <button class="navbar-toggler navbar-toggler-right text-uppercase font-weight-bold bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item mx-0 mx-lg-1">
                        <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#contact">Contact</a>
                    </li>
                    <li class="nav-item mx-0 mx-lg-1">
                        <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" data-toggle="modal" data-target="#LoginModal">Login</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    @RenderBody()

    <div class="modal rounded-0" id="LoginModal">
        <div class="modal-body">
            <div class="container">

                <div class="col-lg-12 border-0 shadow-lg my-5" style="background-color: white">
                    <div class="p-5">
                        <div class="text-center">
                            <h1 class="h4 text-gray-900 mb-4">Bonjour!</h1>
                        </div>
                        <form class="user">
                            <div class="form-group">
                                <input type="email" class="form-control form-control-user" id="exampleInputEmail" aria-describedby="emailHelp" placeholder="Enter Email Address...">
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control form-control-user" id="exampleInputPassword" placeholder="Password">
                            </div>
                            <div class="form-group">
                                <div class="custom-control custom-checkbox small">
                                    <input type="checkbox" class="custom-control-input" id="customCheck">
                                    <label class="custom-control-label" for="customCheck">Remember Me</label>
                                </div>
                            </div>
                            <button class="btn btn-success" type="submit" asp-controller="Admin" asp-action="Index">
                                Login
                            </button>
                            <button class="btn btn-success" type="submit" asp-controller="User" asp-action="Index">
                                Usager
                            </button>
                        </form>
                        <hr>
                        <div class="row">
                            <div class="col-6">
                                <a style="cursor:pointer" data-toggle="modal" data-target="#ForgotPWModal">Mot de passe oublié?</a>
                            </div>
                            <div class="col-4">
                                <button class="btn btn-danger" id="ModalClose" data-dismiss="modal">Fermer</button>
                            </div>
                        </div>

                    </div>
                </div>


                <div class="modal rounded-0" id="ForgotPWModal">
                    <div class="modal-body">
                        <div class="container">

                            <div class="col-lg-12 border-0 shadow-lg my-5" style="background-color: lightslategray">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">Oublier votre mot de passe?</h1>
                                    </div>
                                    <form class="user">
                                        <div class="form-group">
                                            <input type="email" class="form-control form-control-user" id="exampleInputEmail" aria-describedby="emailHelp" placeholder="Enter Email Address...">
                                        </div>
                                        <button class="btn btn-success" type="submit" asp-controller="Home" asp-action="Index">
                                            Envoyer votre nouveau mot de passe
                                        </button>
                                    </form>
                                    <hr>


                                    <div class="col-4">
                                        <button class="btn btn-danger" id="ModalPWClose" data-dismiss="modal">Fermer</button>
                                    </div>


                                </div>
                            </div>






                        </div>

                    </div>
                </div>





            </div>

        </div>
    </div>
    <!-- Bootstrap core JavaScript -->
    <script src="~/vendor/jquery/jquery.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="~/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Contact Form JavaScript -->
    <!-- Custom scripts for this template -->
    <script src="~/js/freelancer.min.js"></script>

</body>

</html>
